<%= form_with model: @book do |f| %>
<div class = "show-content">
  <h4>Title:</h4>
    <p><%= @book.title %></p>
</div>

<div class = "show-content">
  <h3>Body:</h3>
    <p><%= @book.body %></p>
 </div>
    
  
        <p><%= link_to "Edit", edit_book_path(@book.id) %>
        <span>|</span>
        <a class = "buttom" a href = "/books">Back</a>
        </p>
  
<% end %>