<%= form_with model: @book do |f| %>
<div class = "show-content">
  <h4>Title:</h4>
    <p><%= @book.title %></p>
</div>

<div class = "show-content">
  <h3>Body:</h3>
    <p><%= @book.body %></p>
 </div>
    
        <a class = "buttom"><%= link_to "Edit", "/books/#(book.id)"  %></a>
        <span>|</span>
        <a class = "buttom" a href = "/books">Back</a>
<% end %>