<body>
<h1>ようこそ<span> Bookers </span>へ！</h1>

<div class = "visual">
<p><b>Bookers</b>では、さまざまな書籍に関するあなたの意見や</p></div>
<div class = "visual">
<p>印象を共有し交換することができます</p>
</div>
    <div class = "visual">
<a class= "buttom" a href ="/books">start</a>


</div>
</body>